@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

a { font-family: 'Montserrat', sans-serif; font-weight: 700; text-transform: uppercase; text-decoration: none; font-size: 20px; }
a:hover { text-decoration: underline; }
p, li { font-family: 'Open Sans', sans-serif; }

h1, h2, h3 { margin-top: 40px; margin-bottom: 30px; font-weight: 800; font-family: 'Raleway', sans-serif; text-transform: uppercase; }
h1 { text-align: center; font-size: 40px; }
h2, h3 { margin-bottom: 10px; font-size: 30px; }
h2 { font-size: 30px; }
h3 { font-size: 20px; }

.content { padding: 10px 20px; }
.content p { width: 860px; margin: 0 auto; margin-bottom: 30px; font-size: 20px; line-height: 1.2em; }

section { padding-top: 80px; }

header { position: fixed; width: 100%; z-index: 10; }
header .content { display: flex; justify-content: space-between; }
header div { height: 60px; display: inline-flex; }
header div > a { line-height: 60px; }
header div h1 { margin: 0; margin-left: 10px; line-height: 60px; display: inline-flex; align-content: flex-start; }
header .menu { display: inline-flex; align-content: flex-end; }
header .menu li { margin-left: 20px; line-height: 60px; display: inline-flex; }

#last-work .work-gallery { position: relative; }
#last-work .work-gallery .work-container { width: 860px; display: block; margin: 0 auto; }
#last-work .work-gallery .work-container h2 { margin-left: 0; }
#last-work .work-gallery .work-container p { margin: 0; margin-bottom: 20px; }
#last-work .work-gallery .work-container > img { margin-bottom: 30px; width: 860px; }
#last-work .work-gallery .work-container li { margin: 10px 0; line-height: 1.2em; }
#last-work .work-gallery .work-container li strong { font-weight: 900; }

.navigate-left, .navigate-right { position: absolute; top: 160px; }
.navigate-left { left: 10%; }
.navigate-right { right: 10%; }

.dark-primary-color    { background: #1d1d1d; }
.default-primary-color { background: #1f1028; }
.light-primary-color   { background: #B3E5FC; }
.accent-color          { background: #536DFE; }
.primary-text-color, :visited    { color: #d1d9ff; }
.secondary-text-color  { color: #d1d9ff; }
.divider-color         { border-color: #BDBDBD; }
